{% extends "base.html" %}

{% block content %}
<br>
<section>
    <h3>Add NEW PRODUCT into the form below:</h3>
</section>

<br>
<form action="{{ url_for('add_product') }}", method="POST">
    <div class="form-add-product">
        <label for="product">Add product description:</label>
        <input type="text" class="form-input" id="product" name="product">
    </div>
    <div class="form-add-product">
        <label for="price">Add product price, €:</label>
        <input type ="number" class ="price" name="price" id="price" step="0.01">
    </div>
    <div class="form-add-product">
        <label for="ingredients">Add ingredients:</label>
        <input type="text" class="form-input" name="ingredients" id="ingredients">
    </div>
    <div class="form-add-product">
        <label for="extra">Add extra ingredients (sauce, etc.):</label>
        <input type="text" class="form-input" id="extra" name="extra">
    </div>
    <button type="submit" class="btn">Add Product</button>
    <a href="{{ url_for('products') }}"> <button class="btn" id="bacback">Back to Products</button></a>
</form>

{% endblock %}