{% extends "base.html" %}

{% block content %}
<section class="contacts">
    <div class="contacts-left">
            <h3>CONTACT US:</h3>
<br>
    <p> In case of emergency please contact Arnoldas</p>
    <p>Tel.: +370 123 123 123</p>
    <p>Email: <a href="mailto:bigboss@arnokebabai.com">bigboss@arnokebabai.com</a> </p>
    </div>

    <div class="google-map">

    <iframe src="https://maps.google.com/maps?q=55.80137363999826, 21.076090997585876&z=15&output=embed" width="800" height="600" frameborder="0" style="border:0"></iframe>
    </div>
</section>



{% endblock %}