{%extends "base.html" %}

{% block content %}

<h3>"ARNOLDO KEBABINE's" HOME page</h3>
<br>
<p> Welcome to ARNOLDAS Kebab Shop!
Welcome to ARNOLDAS Kebab Shop, where we bring the authentic flavors of the Mediterranean right to your plate!
<br>
    Founded in 2024, ARNOLDAS Kebab Shop was born out of a passion for delicious, high-quality kebabs. Our founder, Arnoldas envisioned a place where everyone could enjoy the
<br>
    <br>
    <br>
    At ARNOLDAS Kebab Shop we offer a wide variety of mouth-watering options:
    <br>
•	Classic Kebabs: Choose from chicken, lamb, beef, or vegetarian options, all grilled to perfection.
    <br>
•	Specialty Wraps: Our signature wraps are packed with fresh ingredients and bursting with flavor.
    <br>
•	Sides and Salads: Complement your meal with our freshly prepared sides, including hummus, tabbouleh, and our famous garlic fries.
    <br>
•	Desserts: Don’t miss our baklava and other sweet treats to end your meal on a high note.
 </p>
{% endblock %}
