{%extends "base.html" %}

{% block content %}
<h3>HOME page</h3>
<section class="homepage">
    <p>Welcome to ARNOLDAS Kebab Shop, where we bring the authentic flavors of the Mediterranean right to your plate!</p>
    <p>Founded in 2024, ARNOLDAS Kebab Shop was born out of a passion for delicious, high-quality kebabs. Our founder,
    Arnoldas envisioned a place where everyone could enjoy their favourite meals.</p>
    <br>
    <p>At ARNOLDAS Kebab Shop offers a wide variety of mouth-watering options:</p>
    <div>
        <li>Classic Kebabs: Choose from chicken, lamb, beef, or vegetarian options, all grilled to perfection.</li>
        <li>Specialty Wraps: Our signature wraps are packed with fresh ingredients and bursting with flavor.</li>
        <li>Sides and Salads: Complement your meal with our freshly prepared sides, including hummus, tabbouleh,
            and our famous garlic fries</li>
        <li>Desserts: Don’t miss our baklava and other sweet treats to end your meal on a high note.</li>
    </div>
</section>

{% endblock %}

