{% extends "base.html" %}

{% block content %}
  <h3 class = "prd">Choose your favourite meal from our products list:</h3>
<br>
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Product</th>
          <th>Product Image</th>
          <th>Ingredients</th>
          <th>Extra</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        {% for product in products %}
            <tr>
              <td> {{ loop.index }} </td>
              <td> <a href="{{ url_for('product', id=product.product_id) }}"> {{ product.product }} </a> </td>
              <td style="text-align: center;">
                {% if product.image_filename %}
                <img src="{{ url_for('static', filename='product_images/' + product.image_filename) }}" alt="{{ product.product }}" width="100" height="100">
            {% else %}
            No image available
            {% endif %}
              </td>
              <td> {{ product.ingredients }} </td>
              <td> {{ product.extra }} </td>
              <td class="price"> {{ product.price }} €</td>
            </tr>
        {%endfor%}
      </tbody>
    </table>
<section>
                  <a href="{{ url_for('add_product') }}"> <button class="btn" id="addnew">Add New Product to DB</button></a>
</section>

{% endblock %}